@model PROJETO01.Modelos.TipoJogos

<h1>
    @Model.codTipoJogo
</h1>

<h4>
    @Model.descrisaoTipoJogo
</h4>


    <div class="alert alert-warning">
        OOOHH NOO.
    </div>


<input type="text" value="@Model.codTipoJogo" class="form-control" />
<br />
<input type="text" value="@Model.descrisaoTipoJogo" />

<br /><br />
<button class="btn btn-block btn-success">
    SUCESSO!
</button>